{% extends 'base.html' %}

{% block title %}Project Details{% endblock %}

{% block content %}
    <div>
        <h1>{{ project_object.name }}</h1>
        <p>{{ project_object.description }}</p>
        <h2>Tasks</h2>
        <p><a href={% url "create_task" %}>Create a new task</a></p>
        {% if task_object %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
                {% for task in task_object %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.assignee }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno:"Yes,No" }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
    </div>
{% endblock %}